In [1]:
from time import sleep
from lxml.etree import HTML
from selenium import webdriver
import pandas as pd

In [2]:
def get_band_urls(number_bands=730):
    base_url = "http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Search/FNMain.aspx?BAND_NUMBER="
    end_url = "&lang=eng"
    urls = []
    for i in range(1,number_bands+1):
        urls.append(base_url + str(i) + end_url)   
        
    return urls

def filter_bands(bands, key, whitelist):
    filteredBands = bands[bands[key].isin(whitelist)]
    return filteredBands

def extract_band_information_links(url):
    links = {}
    links['reserves'] = url.replace('FNMain','FNReserves')
    links['governance'] = url.replace('FNMain','FNGovernance')
    links['federal_funding'] = url.replace('FNMain','FederalFundsMain')
    links['geography'] = url.replace('FNMain','FNGeography')
    links['registered_pop'] = url.replace('FNMain','FNRegPopulation')
    links['fnfta'] = url.replace('FNMain','FederalFundingMain')
    return links

def extract_band_census_links(url):
    links = {}
    links['population'] = url.replace('FNMain','FNPopulation')
    links['language'] = url.replace('FNMain','FNLanguage')
    links['marital'] = url.replace('FNMain','FNMartial')
    links['education'] = url.replace('FNMain','FNEducation')
    links['income'] = url.replace('FNMain','FNIncome')
    links['workforce'] = url.replace('FNMain','FNWorkforce')
    links['Mobility'] = url.replace('FNMain','FNMobility')
    links['Household'] = url.replace('FNMain','FNHousehold')
    return links


def read_allBands():
    allBands = pd.read_csv('allBands.csv')
    allBands['bandNumber'] = allBands.index + 1
    allBands['Province'] = allBands['address'].apply(lambda x: x.split(' ')[-1])
    allBands['url'] = get_band_urls()
    allBands = allBands.drop_duplicates(subset ="bandName", keep = 'first') 
    allBands['information_links'] = allBands['url'].apply(extract_band_information_links)
    allBands['census_links'] = allBands['url'].apply(extract_band_census_links)
    return allBands

In [3]:
def get_page(link):
    browser.get(link)
    html = browser.page_source
    return html

def get_tables(link):
    html = get_page(link)
    tables = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})
    return tables

def get_band_census_tables(band):
    tables = {}
    for key, link in band['census_links'].items():
#         print("Fetching tables for {}".format(key))
        tables[key] = get_tables(link)
    return tables

def get_all_census():
    for i, band in all_bands.iterrows():
        try:
            tables = get_band_census_tables(band)
            for key, table_list in tables.items():
                for i, table in enumerate(table_list):
                    table.to_csv("census/{0}_{1}_{2}.csv".format(band['bandName'], key, i), index=False)
        except:
            print("Failed on {}.".format(band['bandName']))

In [4]:
all_bands = read_allBands()

In [8]:
all_bands[all_bands['bandName'] == "K'omox"]

Empty DataFrame
Columns: [bandName, bandNumber, address, postalCode, txtPone, website, Province, url, information_links, census_links]
Index: []

In [105]:
browser = webdriver.Firefox()
all_bands = read_allBands()

In [109]:
for i, band in all_bands.loc[489:].iterrows():
    try:
        tables = get_band_census_tables(band)
        for key, table_list in tables.items():
            for i, table in enumerate(table_list):
                table.to_csv("census/{0}_{1}_{2}.csv".format(band['bandName'], key, i), index=False)
    except:
        print("Failed on {}.".format(band['bandName']))

Failed on Carcross/Tagish First Nation.
Failed on Little Salmon/Carmacks First Nation.
Failed on Mowachaht/Muchalaht.
Failed on Whispering Pines/Clinton.

In [ ]:
for key, table_list in enumerate(tables.items()):
    for i, table in enumerate(table_list):
        table.to_csv("{0}_{1}_{2}.csv".format(band, key, i))

In [48]:
highway_bands.head(1)

,bandName,bandNumber,address,postalCode,txtPone,website,Province,url,information_links,census_links
530,Gitanmaax,531,"PO BOX 440, HAZELTON, BC",V0J 1Y0,(250) 842-5297,http://www.gitanmaax.com/,BC,http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Sear...,{'reserves': 'http://fnp-ppn.aadnc-aandc.gc.ca...,{'population': 'http://fnp-ppn.aadnc-aandc.gc....

In [ ]:
highway_bands['census_links'].apply(get_all_tables)

In [ ]:
tables = get_band_census_tables(link)

In [50]:
def get_all_tables(links_object):

In [41]:
for band in bands:
    for key, table_list in enumerate(tables.items()):
        for i, table in enumerate(table_list):
            table.to_csv("{0}_{1}_{2}.csv".format(band, key, i))

0
1
2
3
4
5
6
7

In [36]:
tables['workforce'][0]

       Workforce Characteristics   2016                        2006  \
       Workforce Characteristics  Total  Male Female          Total
0        Labour Force Indicators    NaN   NaN    NaN            NaN
1             Participation rate   71.8  80.0   63.2           77.8
2                Employment rate   53.8  60.0   47.4           59.3
3              Unemployment rate   21.4  18.8   25.0           28.6
4                       Industry    NaN   NaN    NaN            NaN
5   Population 15 years and over  195.0  95.0   95.0            135
6    Agriculture, resource based   40.0  30.0   10.0             30
7    Manufacturing, construction   15.0  10.0   10.0             10
8              Wholesale, retail   20.0  10.0    0.0             10
9           Finance, real estate    0.0   0.0    0.0              0
10             Health, education   20.0   0.0   15.0             15
11             Business services   20.0  10.0    0.0             10
12   Transportation, warehousing    0.0   0.0    0.0             10
13                Other services   45.0  20.0   25.0             45
14                    Occupation    NaN   NaN    NaN            NaN
15  Population 15 years and over  195.0  95.0   95.0            135
16                    Management   30.0   0.0   15.0  Not available
17      Natural sciences, health    0.0  10.0    0.0  Not available
18        Social sciences, gov't   20.0  10.0   15.0  Not available
19             Sales and service   30.0  10.0   20.0  Not available
20            Trades and related   20.0  15.0    0.0  Not available
21              Primary industry   45.0  35.0   10.0  Not available
22             Other Occupations   10.0  10.0    0.0  Not available


             Male         Female
0             NaN            NaN
1            76.9           73.3
2            61.5           46.7
3            20.0           36.4
4             NaN            NaN
5              60             75
6              25              0
7              10              0
8              10              0
9               0              0
10              0             10
11              0             10
12              0              0
13             10             30
14            NaN            NaN
15             60             75
16  Not available  Not available
17  Not available  Not available
18  Not available  Not available
19  Not available  Not available
20  Not available  Not available
21  Not available  Not available
22  Not available  Not available

In [ ]:
governance = pd.read_html(html, attrs = {'id': 'plcMain_dgOfficialsList'})[0]
federal_funding = pd.read_html(html, attrs = {'class': 'plcMain_dgFundslist'})[0]
population = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]
FNFTA = pd.read_html(html, attrs = {'class': 'plcMain_dgFundslist'})[0]

In [ ]:



population_characteristics = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]
language = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]
marital = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]
education = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]
income = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]
workforce = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]
mobility = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]
household = pd.read_html(html, attrs = {'class': 'table table-bordered table-hover table-condensed'})[0]


plcMain_dgOfficialsList

In [46]:
highway_bands = all_bands[all_bands['bandName'].isin(nations)]