In [26]:
import pandas as pd

In [27]:
def get_band_urls(number_bands=730):
    base_url = "http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Search/FNMain.aspx?BAND_NUMBER="
    end_url = "&lang=eng"
    urls = []
    for i in range(1,number_bands+1):
        urls.append(base_url + str(i) + end_url)   
        
    return urls

def filter_bands(bands, key, whitelist):
    filteredBands = bands[bands[key].isin(whitelist)]
    return filteredBands

def extract_band_information_links(url):
    links = {}
    links['reserves'] = url.replace('FNMain','FNReserves')
    links['governance'] = url.replace('FNMain','FNGovernance')
    links['federal_funding'] = url.replace('FNMain','FederalFundsMain')
    links['geography'] = url.replace('FNMain','FNGeography')
    links['registered_pop'] = url.replace('FNMain','FNRegPopulation')
    links['fnfta'] = url.replace('FNMain','FederalFundingMain')
    return links

def extract_band_census_links(url):
    links = {}
    links['population'] = url.replace('FNMain','FNPopulation')
    links['language'] = url.replace('FNMain','FNLanguage')
    links['marital'] = url.replace('FNMain','FNMartial')
    links['education'] = url.replace('FNMain','FNEducation')
    links['income'] = url.replace('FNMain','FNIncome')
    links['workforce'] = url.replace('FNMain','FNWorkforce')
    links['Mobility'] = url.replace('FNMain','FNMobility')
    links['Household'] = url.replace('FNMain','FNHousehold')
    return links


def read_allBands():
    allBands = pd.read_csv('allBands.csv')
    allBands['bandNumber'] = allBands.index + 1
    allBands['Province'] = allBands['address'].apply(lambda x: x.split(' ')[-1])
    allBands['url'] = get_band_urls()
    allBands = allBands.drop_duplicates(subset ="bandName", keep = 'first') 
    allBands['information_links'] = allBands['url'].apply(extract_band_information_links)
    allBands['census_links'] = allBands['url'].apply(extract_band_census_links)
    return allBands

In [28]:
nations = [
    'Burns Lake Band', 
    'Cheslatta Carrier', 
    'Gitanmaax', 
    'Gitanyow', 
    'Gitsegukla', 
    'Gitwangak', 
    'Glen Vowell', 
    'Hagwilget', 
    'Kispiox', 
    'Kitselas', 
    'Kitsumkalum', 
    'Lake Babine Nation', 
    'Lax Kwalaams', 
    'Lheidli T’enneh ', 
    'Metlakatla', 
    'Nadleh Whuten', 
    'Nee Tahi Buhn', 
    'Saik’uz', 
    'Skin Tyee', 
    'Stellat’en ', 
    'Wet’suwet’en', 
    'Witset', 
    'Binche Whuten', 
    'Gitxaala', 
    'Nakazdli Whute', 
    'Nisga’a people-Gingolx', 
    'Nisga’a people-Gitwinksihlkw', 
    'Nisga’a people-Laxgalt’sap', 
    'Nisga’a people-New Aiyansh', 
    'Nisga’a people-Old Massett', 
    'Nisga’a people-Skidegate', 
    'Takla', 
    'Tlazten ', 
    'Yekooche', 
]

In [29]:
all_bands = read_allBands()

In [30]:
band = 'Abegweit'

In [31]:
tables = ['population_1', 'workforce_0', 'income_0']

In [35]:
highway_bands = all_bands[all_bands['bandName'].isin(nations)]

In [39]:
highway_bands

,bandName,bandNumber,address,postalCode,txtPone,website,Province,url,information_links,census_links
530,Gitanmaax,531,"PO BOX 440, HAZELTON, BC",V0J 1Y0,(250) 842-5297,http://www.gitanmaax.com/,BC,http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Sear...,{'reserves': 'http://fnp-ppn.aadnc-aandc.gc.ca...,{'population': 'http://fnp-ppn.aadnc-aandc.gc....
536,Gitanyow,537,"PO BOX 340, KITWANGA, BC",V0J 2A0,(250) 849-5222,http://www.gitanyow.com/,BC,http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Sear...,{'reserves': 'http://fnp-ppn.aadnc-aandc.gc.ca...,{'population': 'http://fnp-ppn.aadnc-aandc.gc....
606,Lake Babine Nation,607,"PO BOX 879, BURNS LAKE, BC",V0J 1E0,(250) 692-4700,http://www.lakebabine.com/nation,BC,http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Sear...,{'reserves': 'http://fnp-ppn.aadnc-aandc.gc.ca...,{'population': 'http://fnp-ppn.aadnc-aandc.gc....
611,Nadleh Whuten,612,"PO BOX 36, FORT FRASER, BC",V0J 1N0,(250) 690-7211,http://www.nadleh.ca/,BC,http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Sear...,{'reserves': 'http://fnp-ppn.aadnc-aandc.gc.ca...,{'population': 'http://fnp-ppn.aadnc-aandc.gc....
679,Kitselas,680,"2225 GITAUS ROAD, TERRACE, BC",V8G 0A9,(250) 635-5084,http://www.kitselas.com/,BC,http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Sear...,{'reserves': 'http://fnp-ppn.aadnc-aandc.gc.ca...,{'population': 'http://fnp-ppn.aadnc-aandc.gc....
680,Kitsumkalum,681,"PO BOX 544, TERRACE, BC",V8G 4B5,(250) 635-6177,http://www.kitsumkalum.bc.ca/,BC,http://fnp-ppn.aadnc-aandc.gc.ca/fnp/Main/Sear...,{'reserves': 'http://fnp-ppn.aadnc-aandc.gc.ca...,{'population': 'http://fnp-ppn.aadnc-aandc.gc....

In [40]:
data = {}
for band in highway_bands['bandName']:
    data[band] = {}
    for table in tables:
        try:
            filename = 'census/' + band + '_' + table + '.csv'
            data[band][table.split('_')[0]] = pd.read_csv(filename)
        except:
            print("No data for {}".format(band))

No data for Gitanmaax
No data for Gitanmaax
No data for Gitanmaax
No data for Gitanyow
No data for Gitanyow
No data for Gitanyow
No data for Lake Babine Nation
No data for Lake Babine Nation
No data for Lake Babine Nation
No data for Nadleh Whuten
No data for Nadleh Whuten
No data for Nadleh Whuten
No data for Kitselas
No data for Kitselas
No data for Kitselas
No data for Kitsumkalum
No data for Kitsumkalum
No data for Kitsumkalum

In [33]:
data['population']

        Unnamed: 0_level_0   2016 2016.1  2016.2   2006 2006.1  2006.2
0       Unnamed: 0_level_1  Total   Male  Female  Total   Male  Female
1        Total All persons  270.0  125.0   145.0  195.0   90.0   105.0
2        Registered Indian  240.0  115.0   130.0  175.0   80.0    95.0
3  Not a registered Indian   30.0   15.0    15.0   15.0   10.0    10.0
4      Age characteristics    NaN    NaN     NaN    NaN    NaN     NaN
5        Total All persons  270.0  125.0   145.0  195.0   90.0   105.0
6                 Age 0-19  100.0   40.0    55.0   75.0   35.0    40.0
7                Age 20-64  170.0   85.0    80.0  110.0   50.0    60.0
8          Age 65 and over    0.0    0.0    10.0   10.0    0.0     0.0
9               Median Age   28.9   30.7    26.8   23.8   23.0    24.5

In [19]:
df = data[1]

In [24]:
df.set_index('Workforce Characteristics').loc['Unemployment rate']

2016      21.4
2016.1    18.8
2016.2    25.0
2006      28.6
2006.1    20.0
2006.2    36.4
Name: Unemployment rate, dtype: object

In [25]:
df

,Workforce Characteristics,2016,2016.1,2016.2,2006,2006.1,2006.2
0,Workforce Characteristics,Total,Male,Female,Total,Male,Female
1,Labour Force Indicators,NaN,NaN,NaN,NaN,NaN,NaN
2,Participation rate,71.8,80.0,63.2,77.8,76.9,73.3
3,Employment rate,53.8,60.0,47.4,59.3,61.5,46.7
4,Unemployment rate,21.4,18.8,25.0,28.6,20.0,36.4
5,Industry,NaN,NaN,NaN,NaN,NaN,NaN
6,Population 15 years and over,195.0,95.0,95.0,135,60,75
7,"Agriculture, resource based",40.0,30.0,10.0,30,25,0
8,"Manufacturing, construction",15.0,10.0,10.0,10,10,0
9,"Wholesale, retail",20.0,10.0,0.0,10,10,0
10,"Finance, real estate",0.0,0.0,0.0,0,0,0
11,"Health, education",20.0,0.0,15.0,15,0,10
12,Business services,20.0,10.0,0.0,10,0,10
13,"Transportation, warehousing",0.0,0.0,0.0,10,0,0
14,Other services,45.0,20.0,25.0,45,10,30
15,Occupation,NaN,NaN,NaN,NaN,NaN,NaN
16,Population 15 years and over,195.0,95.0,95.0,135,60,75
17,Management,30.0,0.0,15.0,Not available,Not available,Not available
18,"Natural sciences, health",0.0,10.0,0.0,Not available,Not available,Not available
19,"Social sciences, gov't",20.0,10.0,15.0,Not available,Not available,Not available
20,Sales and service,30.0,10.0,20.0,Not available,Not available,Not available
21,Trades and related,20.0,15.0,0.0,Not available,Not available,Not available
22,Primary industry,45.0,35.0,10.0,Not available,Not available,Not available
23,Other Occupations,10.0,10.0,0.0,Not available,Not available,Not available